{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "target": "es2021",
    "baseUrl": "./",
    "keepClassNames": true,
    "parser": {
        "syntax": "typescript",
        "decorators": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "minify": false
}
