{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "jsc": {
    "target": "es2021",
    "baseUrl": "./",
    "keepClassNames": true,
    "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "minify": false
}
